.cases {
  width: 100%;
  border: 8px solid rgb(57, 123, 209);
  border-top: 0px;
  padding: 5px;
}
.cases span {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 10px;
}
.cases div span {
  display: flex;
}

.icon {
  color: white;
  font-size: 25px;
  margin: 5px;
}
.cases div h3 {
  padding: 5px;
  background-color: rgb(80, 80, 231);
}
@media (max-width: 600px) {
  .cases {
    min-width: 100vw;
  }
  .cases span {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
  }
  .cases div {
    font-size: 10px;
  }
  .cases div span {
    display: flex;
  }

  .icon {
    color: white;
    font-size: 25px;
    margin: 5px;
  }
  .cases div h3 {
    padding: 5px;
    background-color: rgb(80, 80, 231);
  }
}
